/* Font-faces */

@font-face {
  font-family: Narkissim;
  src: url(../assets/fonts/narkisim_fontef/Narkissim-Bold-TRIAL.otf);
  font-weight: 700;
}

@font-face {
  font-family: Narkissim;
  src: url(../assets/fonts/narkisim_fontef/Narkissim-Regular-TRIAL.otf);
  font-weight: 400;
}

@font-face {
  font-family: HadassahFriedlaender;
  src: url(../assets/fonts/hadassah_friedlaender_fontef/HadassahFriedlaender-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: FrankG;
  font-weight: 900;
  src: url(../assets/fonts/frank_g_hagilda/FrankG-Black.woff2);
}
@font-face {
  font-family: FrankG;
  font-weight: 700;
  src: url(../assets/fonts/frank_g_hagilda/FrankG-Bold.woff2);
}
@font-face {
  font-family: FrankG;
  font-weight: 400;
  src: url(../assets/fonts/frank_g_hagilda/FrankG-Regular.woff2);
}
@font-face {
  font-family: HaimG;
  font-weight: 400;
  src: url(../assets/fonts/haim_hagilda/HaimG-Regular.otf);
}
@font-face {
  font-family: HaimG;
  font-weight: 700;
  src: url(../assets/fonts/haim_hagilda/HaimG-Bold.otf);
}
@font-face {
  font-family: NarkisTam;
  font-weight: 700;
  src: url(../assets/fonts/narkis_tam_fontef/NarkissTam-Bold.otf);
}

/* Variables */
:root {
  --important: red !important;
  --text-indent: 3rem;

  /* Font styles */
  --base-font-size: 12px;
  --font-biggest-serif: 700 1.4rem/1.5rem FrankG, serif;
  --font-medium-serif: 700 3.4rem/0.9em Narkissim, serif;
  --font-running-serif: 400 1rem/1.5rem HadassahFriedlaender, serif;
  --font-big-block: 400 1.2rem/1.3rem HaimG, sans-serif;
  --font-small-block: 400 1rem/1.1rem HaimG, sans-serif;

  /* Sizing and spacing */
  --small-gap: 3rem;
  --tiny-gap: 1rem;

  --accent-color: red;
  --dark-color: black;
  --light-color: white;
}

/* Reset rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  list-style-position: inside;
}

html {
  /* TODO: Check how to use this. */
  /* color-scheme: dark light; */
  scroll-behavior: smooth;
}

body {
  min-width: 100%;
}

nav {
  position: sticky;
  top: 0;
  height: 100vh;
  grid-row: 1 / 3;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Utilities */

.habala {
  --accent-color: rgb(75, 59, 31);
  --light-color: rgb(155, 155, 155);
  --dark-color: rgb(161, 1, 1);
  --font-running-serif: 400 2rem/2.5rem NarkisTam, serif;
}

.habala article p {
  text-indent: 25vw;
}

.grid-cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 3fr));
  gap: var(--small-gap);
}

.wide-cols .grid-cols {
  grid-template-columns: repeat(auto-fit, minmax(60ch, 2fr));
}

.narrow-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8ch, 1fr));
  gap: var(--tiny-gap);
}

.centered-text {
  text-align: center;
}

.width-span-grid :first-child {
  text-align: start;
}

.width-span-grid :last-child {
  text-align: end;
}

.avoid-wrap {
  display: inline-block;
}

/* Rules */

html {
  font-size: var(--base-font-size);
  font: var(--font-running-serif);
}

nav img {
  margin: 0.2rem;
  position: sticky;
  top: 0.8rem;
}

body {
  /* padding: calc(5vw); */
  display: grid;
  grid-template-columns: minmax(3ch, 5ch) 1fr;
  /* gap: var(--small-gap); */
}

nav {
  /* background-color: var(--important); */
  background-color: var(--accent-color);
  /* width: cl; */
}

body > *:not(nav) {
  /* grid-column: -1; */
  /* margin: 0 0.7rem; */
}

body > main {
  /* margin: 2rem; */
}

body > main > * {
  margin: 2rem;
}

.grid-cols > aside {
  grid-column: span 2;
}

.grid-cols > article {
  /* grid-column: span 1; */
}

article img {
  padding: var(--small-gap);
}

main > header > :nth-child(2) {
  /* padding: 0 5rem; */
}

header {
  text-align: center;
}

article {
  padding-top: 3rem;
}

article > header {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: var(--light-color);
  /* margin-top: 3rem; */
  padding: 1rem 0;
}

article p {
  text-align: justify;
  font: var(--font-running-serif);
}

article p:not(:first-child) {
  text-indent: var(--text-indent);
}
.habala article p:not(:first-child) {
  text-indent: 25vw;
}

main > header {
  margin: 4rem auto;
  font: var(--font-biggest-serif);
  width: fit-content;
}

article {
  display: grid;
  gap: var(--small-gap);
  grid-template-rows: auto 1fr;
}

article h1 {
  font: var(--font-medium-serif);
  letter-spacing: -0.05em;
}

/* ////////////////// */

.body-grid {
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-columns: repeat(minmax(20ch, 60ch), 1fr); */
  /* gap: 5px; */
}

.site-header-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.page-header-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.site-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.section-main {
  grid-column: 1;
}

.section-p {
  /* grid-column: 1/3; */
  /* max-width: 60ch; */
}

.site-title {
  gap: 1rem;
}

/* Utility rules */

.span-all-cols {
  grid-column: 1/-1;
}

.span-half-cols {
  grid-column: span 2;
}

/* Typographic styles */

.running-text {
  font-family: HadassahFriedlaender;
  font-size: 1rem;
}

.biggest-serif {
  font-family: FrankG;
  font-weight: 800;
  font-size: 5rem;
}

/* ###################### */

.black-contrast {
  font-family: FrankG;
  font-weight: bold;
  /* font-weight: 900; */
}

.subtitle-text {
  grid-column: span 2;
}

.site-header {
  align-items: baseline;
}

.header-title {
  flex-direction: column;
  justify-items: center;
}

a {
  color: inherit;
  text-decoration-line: inherit;
}

page-link {
  text-align: left;
}

p {
  /* font-family: Narkissim; */
  font-family: HadassahFriedlaender;
  line-height: 1.55em;
}

h1 {
  font-size: 5em;
  line-height: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
  /* grid-column: span 5; */
}

span.acronym {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 0.2rem;
  cursor: pointer;
  opacity: 1;
  /* visibility: visible; */
  /* width: 100px; */
  /* opacity: 0; */
  /*  */
  /* transition: visibility 0s, opacity 1s, linear; */
  /* transition: opacity 2s linear; */
}

/* span.acronym:hover{
  background-color: var(--important); */
/* opacity: 100; */
/* width: 200px; */
/* } */

::selection,
.acronym ::selection {
  background-color: var(--accent-color);
  color: var(--light-color);
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.loading-bar {
  background-color: var(--light-color);
  height: 0;
  width: calc(100% + 1px);
  position: absolute;
  bottom: 0;
}

.popup {
  background-color: var(--dark-color);
  color: var(--light-color);
  font: var(--font-big-block);
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  margin: 0;
}

.popup h1 {
}
/* 
* {
  user-select: none;
} */

/* *:active {
  background-color: transparent;
} */

* {
  -webkit-tap-highlight-color: transparent;
}

.top-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.progBar {
  height: 20px;
  background-color: var(--accent-color);
  max-width: 20%;
}

.dark-bg {
  --accent-color: white;
  --dark-color: white;
  --light-color: black;
  /* background-color: black;
  color: white; */
}

.dark-bg img {
  filter: invert();
}


article > p {
}

article p :not(first-child) {
  text-indent: 25vw !important;
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.habala img {
  /* mix-blend-mode: screen; */
  /* filter: invert(); */
  width: 100%;
  margin-bottom: -120px;
  /* margin-inline: -120px; */
  max-height: 60vh;
  /* height: 60px; */
  padding: 0;
  /* position: absolute */
  /* filter: ; */
  /* position: sticky;
  top: 50% */
}

.habala section {
  padding: 0;
  margin: 0;
}
article > main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.small {
  max-width: 10vw;
}

.narrow-col article main {
  width: 30vw;
  z-index: 999999;
}
img.side {
  position: absolute;
  left: 50%;
  text-align: center;
}

.small.centered {
  margin-inline: auto;
}
img.fullwidth {
  position: absolute;
  left:0;
  width: 57vw;
}


.habala img.keepsize {
  height: auto;
  /* justify-self: left; */
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-height: 100%;
}
.zion,
.zion header {
  background-color: black;
  color: var(--accent-color);
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}
.zion header {
  background-color: black;
  z-index: 9999999;
  width: 100%;
}

.zion img.full {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 30%;
}

section.framed {
  border-style: solid;
  border-color: var(--dark-color);
  padding: 64px;
  border-width: 16px;
}

.links
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

main > article > main {
  display: flex;

  width: 50ch;
  grid-template-columns: 30ch;
  gap: var(--small-gap);
  /* gap: 64px; */


}


.trail {
  z-index: -20;
  position: absolute;
  height: 3px;
  width: 3px;
  background: white;
  color: white;
  border-radius: 2px;
}

.dark-bg li{
  /* background-color: red !important; */
}